.bookingdone{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: 1px solid black;
    height: 40vh;
    width: 80vh;
    align-items: center;
    margin-left: 28%;
    border-radius: 10px;
}

.inner_com{
    display: flex;
    flex-direction: column;
}

.booking_text{
    font-size: 50px;
    font-weight: 700;
    color:darkslategrey ;
}


