.heading {
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    color: darkslategrey
}
.otcenter{
    display: flex;
    justify-content: center;
}
.outercontainer {
    width: 50%;
    height: 500px;
    display: grid;
    grid-template-rows: 40% 12% 25% 15% 10% 15% 10%;
}
.replay{
    font-size: 15px;
    margin-top: 2px;
    font-weight: 200;
}
.notification{
    margin-top: 5px;
    margin-right:10px ;
}
.linebetween{
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
}
.date{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
    color:darkslategrey ;
}
.col {
    display: flex;
    flex-direction: row;
}
.loccol{
    display: grid;
    grid-template-rows: 30% 10%;
}
.inneruptime{
    margin-top: 18px;
    margin-left: 15px;
    font-weight: 600;
    color:darkslategrey ;
}
.innerdowntime{
    margin-top: 50px;
    margin-left: 15px;
    font-weight: 600;
    color:darkslategrey ;
}
.divider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    margin-top: 22px;
    margin-left: 20px;
    margin-right:20px;
}
.box2 {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    margin-left: 20px;
    margin-right:20px;
}
.line{
    height: 60px;
    background-color: darkslategrey;
    width: 3px;
}
.innerupplace{
    margin-top: 15px;
    margin-left: 5px;
    font-weight: 600;
    color:darkslategrey ;
}
.innerdownplace{
    margin-top: 50px;
    margin-left: 5px;
    font-weight: 600;
    color:darkslategrey ;
}

.passanger{
    display: flex;
    justify-content: space-between;
}

.priceText{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: light;
    color:grey ;
    font-weight: 400;
}

.price{
    margin-top: 20px;
    margin-right: 30px;
    font-weight: 600;
    color:darkslategrey ;
}

.username{
    margin-right: 30px;
    font-weight: 600;
    color:darkslategrey ;
    margin-top: 20px;
    margin-left: 20px;
}
.img{
    margin-top: 15px;
    margin-right: 30px;
}

.avater{
    border-radius: 50%;
    border: solid 0.5px black;
}

.chatButton{
    border: none;
    background-color: none!important;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-transform: none!important;
}

.chat{
    display: flex;
    flex-direction: row;
}

.chatMessage{
    margin-left: 10px;
}

.carName{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
    color:darkslategrey ;
}
.caricon{
    margin-top: 4px;
    margin-right: 28px;
}
.cotravellarText{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 600;
    color:darkslategrey ;
}

.coimg{
    margin-top: 10px;
    margin-right: 32px;
}
