.text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 60%;
    margin-top: 30px;
}

.customselect {
    width: 200px;
    height: 50px;
    margin: 15px;
    background-color: #d1d1d1;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}
.otcenter {
    display: flex;
    justify-content: center;
}
.outerContainer {
    width: 50%;
    height: 220px;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

.topcontainer{
    display: flex;
    flex-direction: row;
}

.statusText{
    margin-left: 10%;
    margin-top: 5px;
    font-weight: 400;
    font-size: 15px;
    color:rgb(110, 107, 107) ;
}
.dateText{
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 600;
    color:darkslategrey ;
    margin-left: 25%;
}
.inneruptime{
    margin-top: 18px;
    margin-left: 15px;
    font-weight: 600;
    color:darkslategrey ;
}

.innerdowntime{
    margin-top: 35px;
    margin-left: 15px;
    font-weight: 600;
    color:darkslategrey ;
}

.divider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    margin-top: 22px;
    margin-left: 20px;
    margin-right:10px;
}
.box2 {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    margin-left: 20px;
    margin-right:10px;
}

.line{
    height: 50px;
    background-color: darkslategrey;
    width: 3px;
    margin-left: 10px;
}
.passengerCircle{
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 15px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin-left: 4px;
    margin-top: 5px;
}

.innerupplace{
    margin-top: 15px;
    font-weight: 600;
    color:darkslategrey ;
}
.innerdownplace{    
    font-weight: 600;
    color:darkslategrey ;
}
.passengerrow{
    display: flex;
    font-weight: 600;
    color:darkslategrey ;
}
.colored{
    background-color: darkslategray;
}

.loccol{
    display: grid;
    grid-template-rows: 75% 25%;
}
.fullAddress{
    font-weight: 400;
    font-size: 10px;
    margin-top: 3px;
}

.row{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
}

.img{
    margin-top: 20px;
    margin-left: 20px;
}

.name{
    margin-top: 26px;
    margin-left: 20px;
    font-weight: 600;
    color:darkslategrey ;
}

.avater{
    border-radius: 50%;
    border: solid 0.5px black;
}

